:root {
  --font-weight-400       : 400;
  --font-weight-700       : 700;
  --font-size-text        : 1.5rem;
  --font-family           : 'Overpass', sans-serif;
  --color-primary         : hsl(25, 97%, 53%);
  --color-white           : hsl(0, 0%, 100%);
  --color-light-grey      : hsl(217, 12%, 63%);
  --color-medium-grey     : hsl(216, 12%, 54%);
  --color-dark-blue       : hsl(215, 24%, 14%);
  --color-very-dark-blue  : hsl(228, 11%, 9%);
  --color-buttons         : hsl(215, 19%, 18%);
}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-size: 62.5%;
}

body {
  background-color: var(--color-very-dark-blue);
  display: grid;
  place-content: center;
  height: 100vh;
}

.none {
  display: none;
}

/* Main Card styles */

#form-card, #thank-you-card {
  width: 400px;
  background-color: var(--color-dark-blue);
  border-radius: 15px;
  padding: 30px;
}

.card-header {
  color: var(--color-white);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5em;
}

.center {
  text-align: center;
}

.card-text {
  font-size: var(--font-size-text);
  color: var(--color-medium-grey);
  margin-bottom: 20px;
  line-height: 1.7em;
}

.card-rating-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.star, .buttons {
  width: 40px;
  height: 40px;
  background-color: var(--color-buttons);
  border-radius: 50%;
  display: grid;
  place-content: center;
  border:none;
  color: var(--color-medium-grey);
}

.buttons:hover {
  background-color:var(--color-primary);
  color:var(--color-white);
  cursor: pointer;
}

.buttons-greyed {
  background-color: var(--color-light-grey);
  color: var(--color-white);
}

.clicked {
  color: var(--color-white);
  background-color:var(--color-primary); 
}

.submit-button {
  font-size: var(--font-size-text);
  width: 340px;
  height: 40px;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  letter-spacing: 2px;
  font-weight: 500;
}

.submit-button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  cursor: pointer;
}

.errorMessage {
  margin-top: 10px;
  display: grid;
  place-content: center;
  color: red;
}

/* second card */



.thank-you-image {
  display: grid;
  place-content: center;
  margin-bottom: 20px;
}

.rate {
  width: 200px;
  height: 30px;
  margin: auto;
  background-color:hsl(215, 19%, 18%);
  color:var(--color-primary);
  border-radius: 15px;
  padding: 6px;
  font-size: var(--font-size-text);
}

/* footer styles */
footer {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
  color:var(--color-white);
}

  footer a {
    color: hsl(228, 45%, 44%);
  }